
*.todo
**/__history/
**/__recovery/
**/Win32/**
**/Win64/**
**/OSX32/**
**/*.deployproj
*.local
*.dsk
*.~dsk
*.identcache
*.stat
*.dcu
*.exe
*.dll
*.todo
*.hpp
*.o
*.a
*.dcp
*.res
*.bpi
*.zip
*.tvsconfig
